<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>crud.servlet.servlets.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserTableServlet</servlet-name>
        <servlet-class>crud.servlet.servlets.UserTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserTableServlet</servlet-name>
        <url-pattern>/usersTable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>crud.servlet.servlets.UserCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>crud.servlet.servlets.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>crud.servlet.servlets.StartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>crud.servlet.servlets.SignIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
</web-app>